.forget-password-form{
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px black;
    text-align: center;
    background-color: #f3f3f3;
}
input {
    width: 96%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
}
@media(max-width:900px){
    .forget-password-form{
        width: 100%;
    }
}